01-azure-cloud-pipeline/adf-pipelines/arm_template/linkedTemplates/ArmTemplate_0.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "adf-manufacturing-joonas"
        },
        "ls_blob_manufacturing_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'ls_blob_manufacturing'"
        },
        "AzureSqlDatabase1_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
        },
        "AzureSqlDatabase1_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "sql-server-portfoli-joonas.database.windows.net"
        },
        "AzureSqlDatabase1_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "db-manufacturing-dw"
        },
        "AzureSqlDatabase1_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "sqladmin"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/ls_blob_manufacturing')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[parameters('ls_blob_manufacturing_connectionString')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
                    "database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": false,
                    "authenticationType": "SQL",
                    "userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('AzureSqlDatabase1_password')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_blob_production')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_blob_manufacturing",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "Production.csv",
                        "container": "raw-data"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "UDI",
                        "type": "String"
                    },
                    {
                        "name": "Product ID",
                        "type": "String"
                    },
                    {
                        "name": "Type",
                        "type": "String"
                    },
                    {
                        "name": "Air temperature [K]",
                        "type": "String"
                    },
                    {
                        "name": "Process temperature [K]",
                        "type": "String"
                    },
                    {
                        "name": "Rotational speed [rpm]",
                        "type": "String"
                    },
                    {
                        "name": "Torque [Nm]",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_blob_manufacturing')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_blob_quality')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_blob_manufacturing",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "Quality.csv",
                        "container": "raw-data"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "Product ID",
                        "type": "String"
                    },
                    {
                        "name": "Tool wear [min]",
                        "type": "String"
                    },
                    {
                        "name": "Target",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_blob_manufacturing')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_blob_maintenance')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_blob_manufacturing",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "Maintenance.csv",
                        "container": "raw-data"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "Product ID",
                        "type": "String"
                    },
                    {
                        "name": "Failure Type",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_blob_manufacturing')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_sql_stage_maintenance')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase1",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [
                    {
                        "name": "ProductID",
                        "type": "varchar"
                    },
                    {
                        "name": "FailureType",
                        "type": "varchar"
                    }
                ],
                "typeProperties": {
                    "schema": "dbo",
                    "table": "stage_maintenance"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_sql_stage_production')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase1",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [
                    {
                        "name": "UDI",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "ProductID",
                        "type": "varchar"
                    },
                    {
                        "name": "Type",
                        "type": "char"
                    },
                    {
                        "name": "AirTemperature_K",
                        "type": "float",
                        "precision": 15
                    },
                    {
                        "name": "ProcessTemperature_K",
                        "type": "float",
                        "precision": 15
                    },
                    {
                        "name": "RotationalSpeed_RPM",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "Torque_NM",
                        "type": "float",
                        "precision": 15
                    }
                ],
                "typeProperties": {
                    "schema": "dbo",
                    "table": "stage_production"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_sql_stage_quality')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase1",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [
                    {
                        "name": "ProductID",
                        "type": "varchar"
                    },
                    {
                        "name": "ToolWear_MIN",
                        "type": "int",
                        "precision": 10
                    },
                    {
                        "name": "Target",
                        "type": "int",
                        "precision": 10
                    }
                ],
                "typeProperties": {
                    "schema": "dbo",
                    "table": "stage_quality"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DF_Clean_Quality')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "ds_blob_quality",
                                "type": "DatasetReference"
                            },
                            "name": "Quality"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "ds_sql_stage_quality",
                                "type": "DatasetReference"
                            },
                            "name": "sink1"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "DataFilter"
                        }
                    ],
                    "scriptLines": [
                        "source(output(",
                        "          {Product ID} as string,",
                        "          {Tool wear [min]} as integer,",
                        "          Target as integer",
                        "     ),",
                        "     allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     ignoreNoFilesFound: false) ~> Quality",
                        "Quality filter(!isNull({Product ID})) ~> DataFilter",
                        "DataFilter sink(allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     input(",
                        "          ProductID as string,",
                        "          ToolWear_MIN as integer,",
                        "          Target as integer",
                        "     ),",
                        "     deletable:false,",
                        "     insertable:true,",
                        "     updateable:false,",
                        "     upsertable:false,",
                        "     truncate:true,",
                        "     format: 'table',",
                        "     skipDuplicateMapInputs: true,",
                        "     skipDuplicateMapOutputs: true,",
                        "     errorHandlingOption: 'stopOnFirstError',",
                        "     mapColumn(",
                        "          ProductID = {Product ID},",
                        "          ToolWear_MIN = {Tool wear [min]},",
                        "          Target",
                        "     )) ~> sink1"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_blob_quality')]",
                "[concat(variables('factoryId'), '/datasets/ds_sql_stage_quality')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DF_Clean_Maintenance')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "ds_blob_maintenance",
                                "type": "DatasetReference"
                            },
                            "name": "MaintenanceData"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "ds_sql_stage_maintenance",
                                "type": "DatasetReference"
                            },
                            "name": "sink1"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "CleanData"
                        }
                    ],
                    "scriptLines": [
                        "source(output(",
                        "          {Product ID} as string,",
                        "          {Failure Type} as string",
                        "     ),",
                        "     allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     ignoreNoFilesFound: false) ~> MaintenanceData",
                        "MaintenanceData filter(!isNull({Product ID})) ~> CleanData",
                        "CleanData sink(allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     input(",
                        "          ProductID as string,",
                        "          FailureType as string",
                        "     ),",
                        "     deletable:false,",
                        "     insertable:true,",
                        "     updateable:false,",
                        "     upsertable:false,",
                        "     truncate:true,",
                        "     format: 'table',",
                        "     skipDuplicateMapInputs: true,",
                        "     skipDuplicateMapOutputs: true,",
                        "     errorHandlingOption: 'stopOnFirstError',",
                        "     mapColumn(",
                        "          ProductID = {Product ID},",
                        "          FailureType = {Failure Type}",
                        "     )) ~> sink1"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_blob_maintenance')]",
                "[concat(variables('factoryId'), '/datasets/ds_sql_stage_maintenance')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DF_Clean_Production')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "ds_blob_production",
                                "type": "DatasetReference"
                            },
                            "name": "Production"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "ds_sql_stage_production",
                                "type": "DatasetReference"
                            },
                            "name": "sink1"
                        }
                    ],
                    "transformations": [
                        {
                            "name": "CleanData"
                        }
                    ],
                    "scriptLines": [
                        "source(output(",
                        "          UDI as integer,",
                        "          {Product ID} as string,",
                        "          Type as string,",
                        "          {Air temperature [K]} as double,",
                        "          {Process temperature [K]} as double,",
                        "          {Rotational speed [rpm]} as integer,",
                        "          {Torque [Nm]} as double",
                        "     ),",
                        "     allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     ignoreNoFilesFound: false) ~> Production",
                        "Production filter(!isNull(UDI) && ",
                        "!isNull({Product ID}) && ",
                        "!isNull(Type) && ",
                        "{Rotational speed [rpm]} > 0 && ",
                        "{Torque [Nm]} >= 0 && ",
                        "{Air temperature [K]} > 0) ~> CleanData",
                        "CleanData sink(allowSchemaDrift: true,",
                        "     validateSchema: false,",
                        "     input(",
                        "          UDI as integer,",
                        "          ProductID as string,",
                        "          Type as string,",
                        "          AirTemperature_K as double,",
                        "          ProcessTemperature_K as double,",
                        "          RotationalSpeed_RPM as integer,",
                        "          Torque_NM as double",
                        "     ),",
                        "     deletable:false,",
                        "     insertable:true,",
                        "     updateable:false,",
                        "     upsertable:false,",
                        "     truncate:true,",
                        "     format: 'table',",
                        "     skipDuplicateMapInputs: true,",
                        "     skipDuplicateMapOutputs: true,",
                        "     errorHandlingOption: 'stopOnFirstError',",
                        "     mapColumn(",
                        "          UDI,",
                        "          ProductID = {Product ID},",
                        "          Type,",
                        "          AirTemperature_K = {Air temperature [K]},",
                        "          ProcessTemperature_K = {Process temperature [K]},",
                        "          RotationalSpeed_RPM = {Rotational speed [rpm]},",
                        "          Torque_NM = {Torque [Nm]}",
                        "     )) ~> sink1"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_blob_production')]",
                "[concat(variables('factoryId'), '/datasets/ds_sql_stage_production')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_TRANSFORM_MaintenanceProdQuality')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Stored procedure1",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "DF_Clean_Quality",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "DF_Clean_Production",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "DF_Clean_Maintenance",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[sp_PopulateStarSchema]"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureSqlDatabase1",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "DF_Clean_Maintenance",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "DF_Clean_Maintenance",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "MaintenanceData": {},
                                    "sink1": {}
                                }
                            },
                            "staging": {},
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "DF_Clean_Production",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "DF_Clean_Production",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "Production": {},
                                    "sink1": {}
                                }
                            },
                            "staging": {},
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    },
                    {
                        "name": "DF_Clean_Quality",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "DF_Clean_Quality",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "Quality": {},
                                    "sink1": {}
                                }
                            },
                            "staging": {},
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2026-07-22T16:46:24Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]",
                "[concat(variables('factoryId'), '/dataflows/DF_Clean_Maintenance')]",
                "[concat(variables('factoryId'), '/dataflows/DF_Clean_Production')]",
                "[concat(variables('factoryId'), '/dataflows/DF_Clean_Quality')]"
            ]
        }
    ]
}